<!-- <p-panel header="Title">
     Content
 </p-panel>-->

<!--     <p-panel >
         <p-header>
             Header content here
         </p-header>
         Body Content
         <p-footer>
             Footer content here
         </p-footer>
     </p-panel>
     
     <hr>-->

<p-panel header="Settings">

    <div class1="ui-g">
        <label for="notify">Email To Notify:</label>
        <input id="notify" placeholder="Enter an Email Address" type="email"/>
    </div>

    <div class="ui-g">
        <label for="backup">Force Backup:</label>
        <button id="backup">Backup System Now</button>
    </div>

</p-panel>