<!-- <p-panel header="Title">
     Content
 </p-panel>-->

<!--     <p-panel >
         <p-header>
             Header content here
         </p-header>
         Body Content
         <p-footer>
             Footer content here
         </p-footer>
     </p-panel>
     
     <hr>-->

<p-panel header="Settings">

    <div class="ui-g">
        <label for="notify" class="ui-g-12 ui-md-2">Email To Notify:</label>
        <input id="notify" class="ui-g-12 ui-md-10" placeholder="Enter an Email Address" type="email"/>
    </div>

    <div class="ui-g">
        <label for="backup" class="ui-g-12 ui-md-2">Force Backup:</label>
        <button id="backup" class="ui-g-12 ui-md-10">Backup System Now</button>
    </div>


    <div class="ui-g">
        <i class="fa fa-cloud-download"></i>
    </div>

    <div class="ui-g">
        <i class="fa fa-arrow-circle-left"></i>
    </div>

    <div class="ui-g">
        <i class="fa fa-long-arrow-right"></i>
    </div>

    <div class="ui-g">
        <i class="fa fa-calendar"></i>
    </div>

</p-panel>